<!DOCTYPE html>
<html lang xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>O nas</title>
</head>
<body>
<div layout:fragment="content">

<h2>Poznaj naszą historię...</h2>
<p>Słomki dla każdego to firma rodzinna założona w 1985 roku.
    Wszystko zaczęło się od organizacji przyjęć dla najbliższych.
    Słomki dla każdego to firma rodzinna założona w 1985 roku.
    Wszystko zaczęło się od organizacji przyjęć dla najbliższych.

</p>
    </div>

</body>
</html>