<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<link rel="stylesheet" type="text/css" href="/style.css" />
<body>
<section layout:fragment="content">

<div>
    <h1 class="content" STYLE="background: bisque">Słomki<h1>
</div>

    <div style="background: bisque">

    <b> POZNAJ NASZĄ MARKĘ I ODWIEDŹ ZAKŁADKI, ABY DOWIEDZIEĆ SIĘ WIĘCEJ!</b>

   </div>
   <div>

   <img src="https://www.ikea.com/pl/pl/images/products/foernyande-slomki-papier-brazowy__0700997_pe723886_s5.jpg?f=s">

</div>

    </div>
</section>
</body>
</html>